# common settings
application:
  # name of your application
  name: my_app

  # environment to run
  # typically one of production, development, test
  env: development
  
  # root directory
  root: '.'

# web layer settings
web:
  # server name exposed to public interface
  # this is usually a domain name of your app.
  server_name: localhost

# app layer settings
app:
  # type of application server which is behind nginx
  type: passenger
